# Legacy scheme file types

*.ss~
*.ss#*
.#*.ss

*.scm~
*.scm#*
.#*.scm

# Backups and binaries

*.rkt~
*.zo
*.dep
*.gdr~

# Temporary files created for safety

.#.gitignore
.#*.rkt
.#*.gdr

# DrRacket's fat, annotated files

*.gdr